/* common shared style */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
.btn-primary {
  background: #ff900e;
  border: none;
  border-radius: 8px;

  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
}

/* header section styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px 45px;
}

/* nav related styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
}

/* banner related styles */

.banner {
  text-align: center;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 102px;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 32px 0px;
}
.banner img {
  margin-top: 50px;
}
